header {
	
  width: 100px;
height: 800px;

	display: flex;
	align-items: baseline;

	
}


div {
	
 /*background-color: red; */
  width: 100px;
height: 100px;
  border: 2px solid red;
  
  
  
}
